[rlt_settings]
btn_paths_enabled=true
btn_fbx_sets_enabled=true
ckbx_show_bb_checked=true
ckbx_show_bb_enabled=true
clr_bb_main_color=(color 60 150 255)
clr_bb_main_enabled=true
clr_bb_add_color=(color 255 100 50)
clr_bb_add_enabled=true
btn_clr_reset_enabled=true
ckbx_show_icon_checked=false
ckbx_show_icon_enabled=true
ckbx_tooltips_checked=false
ckbx_tooltips_enabled=true
ckbx_auto_pivot_checked=true
ckbx_auto_pivot_enabled=true
ckbx_auto_prev_checked=true
ckbx_auto_prev_enabled=true
spn_save_count_value=10
spn_save_count_enabled=true
ckbx_load_last_checked=false
ckbx_load_last_enabled=true
opened=false
[rlt_catalog_tasks]
lst_basic_catalog_selection=1
lst_basic_catalog_enabled=true
lst_sub_catalog_selection=1
lst_sub_catalog_enabled=true
lv_main_enabled=true
opened=false
lv_main_selection=0
[rlt_catalog_info]
opened=false
[rlt_catalog_general]
opened=false
grp_01_enabled=true
chbtn_show_work_checked=true
chbtn_show_work_enabled=true
chbtn_show_scene_checked=false
chbtn_show_scene_enabled=true
chbtn_show_all_checked=false
chbtn_show_all_enabled=true
btn_attach_to_task_enabled=false
btn_clear_enabled=false
grp_02_enabled=true
btn_update_bounds_enabled=false
btn_main_mesh_enabled=false
btn_add_mesh_enabled=false
btn_trans_mesh_enabled=false
btn_trans_mesh_switch_enabled=false
grp_03_enabled=true
btn_update_mat_enabled=false
btn_edit_mat_enabled=false
grp_04_enabled=true
btn_add_box_enabled=false
btn_vis_coll_enabled=false
btn_del_coll_enabled=false
grp_05_enabled=false
btn_set_pivot_enabled=false
btn_improve_pivot_enabled=false
grp_06_enabled=false
btn_add_socket_enabled=false
btn_del_sockets_enabled=false
grp_07_enabled=false
btn_add_bp_enabled=false
btn_del_bp_enabled=false
btn_build_plintus_enabled=false
btn_x_enabled=false
grp_08_enabled=false
btn_save_work_enabled=false
btn_load_work_enabled=false
btn_work_list_enabled=false
btn_export_enabled=false
[rlt_project_data]
lbl_proj_text=Name:    
lbl_proj_enabled=true
lbl_proj_name_text=Residential complex "SkyView"
lbl_proj_name_enabled=true
lbl_fl_text=Floors:    
lbl_fl_enabled=true
lbl_floors_text=15
lbl_floors_enabled=true
lbl_flt_text=Flats:    
lbl_flt_enabled=true
lbl_flats_text=116
lbl_flats_enabled=true
lst_corpuses_selection=1
lst_corpuses_enabled=true
lst_layouts_selection=1
lst_layouts_enabled=true
lst_furn_solutions_selection=1
lst_furn_solutions_enabled=true
lbl_sec_count_text=1
lbl_sec_count_enabled=true
lbl_layout_count_text=2
lbl_layout_count_enabled=true
lbl_fs_count_text=12
lbl_fs_count_enabled=true
lbl_modes_text=Download Mode:
lbl_modes_enabled=true
ddl_modes_selection=1
ddl_modes_enabled=true
btn_get_task_enabled=true
opened=false
[rlt_project_tools]
btn_draw_mode_checked=false
btn_draw_mode_enabled=true
